# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/
.cache/
**/__pycache__/

# PyCharm
.idea/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*

# Python egg
*.egg
*.egg-info/
.eggs/

# Wheels
*.whl

# Test, coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# others
*.sqlite3
